body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: space-between;
}

.countdown-item {
    text-align: center;
}

.countdown-item span {
    font-size: 24px;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="datetime-local"] {
    flex-grow: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
